[submodule "zinux"]
	path = zinux
	url = git@github.com:noise2/zinux.git
	branch = master 
[submodule "public_html/access/rte/ace"]
	path = public_html/access/rte/ace
	url = git@github.com:ajaxorg/ace-builds.git
[submodule "public_html/access/js/Jcrop"]
	path = public_html/access/js/Jcrop
	url = git@github.com:tapmodo/Jcrop.git
[submodule "vendor/activeRecord/lib"]
	path = vendor/activeRecord/lib
	url = git@github.com:jpfuentes2/php-activerecord.git
[submodule "public_html/access/js/jscroll"]
	path = public_html/access/js/jscroll
	url = git@github.com:pklauzinski/jscroll.git
[submodule "public_html/access/js/tag-it"]
	path = public_html/access/js/tag-it
	url = git@github.com:aehlke/tag-it.git
[submodule "public_html/access/js/autosize"]
	path = public_html/access/js/autosize
	url = git@github.com:jackmoore/autosize.git
[submodule "public_html/access/js/sticky"]
	path = public_html/access/js/sticky
	url = git@github.com:noise2/sticky.git
[submodule "vendor/gAPI/google-api-php-client"]
	path = vendor/gAPI/google-api-php-client
	url = git@github.com:google/google-api-php-client.git
[submodule "vendor/PHPMailer/lib"]
	path = vendor/PHPMailer/lib
	url = git@github.com:PHPMailer/PHPMailer.git
