[submodule "zinux"]
	path = zinux
	url = git@github.com:dariushha/zinux.git
	branch = master 
[submodule "core/db/activeRecord/lib"]
	path = core/db/activeRecord/lib
	url = git@github.com:jpfuentes2/php-activerecord.git
[submodule "core/ui/markdown/lib"]
	path = core/ui/markdown/lib
	url = git@github.com:michelf/php-markdown.git
[submodule "public_html/access/rte/ckeditor"]
	path = public_html/access/rte/ckeditor
	url = git@github.com:ckeditor/ckeditor-releases.git
[submodule "public_html/access/rte/ace"]
	path = public_html/access/rte/ace
	url = git@github.com:ajaxorg/ace-builds.git
[submodule "public_html/access/js/Jcrop"]
	path = public_html/access/js/Jcrop
	url = git@github.com:tapmodo/Jcrop.git
