[submodule "zinux"]
	path = zinux
	url = git@github.com:noise2/zinux.git
	branch = master 
[submodule "public_html/access/rte/ace"]
	path = public_html/access/rte/ace
	url = git@github.com:ajaxorg/ace-builds.git
[submodule "public_html/access/js/Jcrop"]
	path = public_html/access/js/Jcrop
	url = git@github.com:tapmodo/Jcrop.git
[submodule "vendor/activeRecord/lib"]
	path = vendor/activeRecord/lib
	url = git@github.com:jpfuentes2/php-activerecord.git
