@font-face {
    font-family: social_icons;
    src: url(social_icons.eot);
    src: url(social_icons.eot?#iefix) format("embedded-opentype"),url(social_icons.woff) format("woff"),url(social_icons.ttf) format("truetype"),url(social_icons.svg#social_icons) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],[class^=icon-] {
    font-family: social_icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1
}

.icon-share:before {
    content: "\e613"
}

.icon-google-plus-B:before {
    content: "\e620"
}

.icon-google-plus:before {
    content: "\e609"
}

.icon-bird:before {
    content: "\e60e"
}

.icon-facebook:before {
    content: "\e60a"
}

.icon-facebook-B:before {
    content: "\e621"
}

ul.social-sharing {
    margin: 0;
    padding: 0
}

ul.social-sharing li.shareBtn {
    list-style: none;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    opacity: 1;
    -webkit-transition: max-height .3s ease,opacity .3s ease;
    -moz-transition: max-height .3s ease,opacity .3s ease;
    -ms-transition: max-height .3s ease,opacity .3s ease;
    -o-transition: max-height .3s ease,opacity .3s ease;
    transition: max-height .3s ease,opacity .3s ease
}

ul.social-sharing li.shareBtn a { 
    position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px 9px;
    text-align: center;
    line-height: 13px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
    left: 0;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -ms-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
    pointer-events: none;
    cursor: default;
    font-weight: bolder;
}

ul.social-sharing li.shareBtn a .sIcon { 
    display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
    font-size: 11px;
    position: relative;
}

ul.social-sharing li.animated { 
    opacity: 1!important;
    max-height: 999px
}

ul.social-sharing li.animated a { 
    left: 0;
    pointer-events: auto;
    cursor: pointer
}

ul.social-sharing li.sbMain {
    opacity: 1;
    left: 0;
    max-height: 999px;
    overflow: hidden
}

ul.social-sharing li.sbMain a {
    color: #44b232;
    border-color: #44b232;
    background-position: 10px 10px;
    left: 0;
    z-index: 100;
    background-color: #fff;
    pointer-events: auto;
    cursor: pointer
}
ul.social-sharing li.shareBtn:not(.sbMain):not(.animated) {
    display: none;
}
ul.social-sharing li.sbMain a .sIcon {
    top: 1px
}


ul.social-sharing #sbTwitter a {
    background-color: #2fa6f9
}

ul.social-sharing #sbTwitter a .sIcon {
    top: 1px
}

ul.social-sharing #sbTwitter a:hover {
    background-color: #2699ea
}

ul.social-sharing #sbFacebook a {
    background-color: #2e579a
}

ul.social-sharing #sbFacebook a .sIcon {
    top: -1px;
    font-size: 13px;
    left: -2px
}

ul.social-sharing #sbFacebook a:hover {
    background-color: #1f4179
}

ul.social-sharing #sbGoogle a {
    background-color: #db5b3c
}

ul.social-sharing #sbGoogle a .sIcon {
    font-size: 12px
}

ul.social-sharing #sbGoogle a:hover {
    background-color: #c0492c
}