.notif-block{padding:10px;border-bottom: 1px solid #e6e6e6}.notif-block:hover{background-color: #fafafa;} 
div#feed-reader-section #read-more{ opacity:0.6; padding: 4%; margin-top: 1%; font-variant: small-caps }
div#feed-reader-section #read-more:hover{opacity: 1;}